@{

}

<div class="input-group mb-3">
    <input type="text" class="form-control" id="description" placeholder="Search Products" arial-label="Search Products" arial-describedby="button-addon2" />
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="search">Search</button>
    </div>
</div>

<div class="row" id="DivSale">
    
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>


